:root {
    --body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

    /* Colors */
    --red: #ff0000;
    --black: #000000;
    --link-color: #7533f4;
    --header-color: #492a7c;
    --cardback: #5c5cd6;

    /* Responsive elements */
    --card-width: 100px;
}

/* Desktop/wide browsers */
@media(min-width: 700px) { :root {
    --card-width: 150px;
}}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 10px;
    font-family: var(--body-font);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a,
a:visited {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    text-decoration: underline;
}

/* Title page */
.title {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

/* Game info page */
.center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    line-height: 1.6;
}

.center2 {
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.col2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.infotitle {
    text-align: center;
}

.terms {
    line-height: 1.8;
}

.col {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4vh;
    width: 75vw;
}

.row {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2vh;
    width: 75vw;
}

#tooltipnav {
    position: absolute;
    writing-mode: vertical-lr;
    font-size: 8px;
    text-align: center;
    height: 100vh;
    right: 27px;
    font-weight: bold;
}

.item {
    padding-bottom: 2vh;
}

.fp-controlArrow.fp-prev {
    display: none;
    left: 10px;
    margin-top: -19px;
    border-width: 19.25px 17px 19.25px 0;
    border-color: transparent black transparent transparent;
}
.fp-controlArrow.fp-next {
    right: 10px;
    margin-top: -19px;
    border-width: 19.25px 0 19.25px 17px;
    border-color: transparent transparent transparent black;
}

.fp-left {
    left: 9px!important;
}

.fp-right {
    right: 9px!important;
}

.fp-tooltip {
    color: black !important;
}

/* Playing Cards */
/* TODO: consider instead: https://selfthinker.github.io/CSS-Playing-Cards/ */
.card {
    padding: 15px;
    padding-top: 8px;
    width: var(--card-width);
    height: calc(1.49 * var(--card-width));
    border: 2px solid var(--black);
    border-radius: 16px;
    font-size: calc(0.55 * var(--card-width));
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: bottom;
    line-height: 1.2;
}

.card:after {
    display: block;
}

.back {
    font-size: 0;
    box-shadow:
        0 4px 0 var(--cardback) inset,
        4px 0 0 var(--cardback) inset,
        0 -4px 0 var(--cardback) inset,
        -4px 0 0 var(--cardback) inset,
        0 8px 0 white inset,
        8px 0 0 white inset,
        0 -8px 0 white inset,
        -8px 0 0 white inset,
        0 12px 0 var(--cardback) inset,
        12px 0 0 var(--cardback) inset,
        0 -12px 0 var(--cardback) inset,
        -12px 0 0 var(--cardback) inset;
    background-size: calc((var(--card-width) - 4px) / 4)
                     calc((var(--card-width) - 4px) / 4);
    background-image:
        linear-gradient(135deg, var(--cardback) 25%, transparent 25%),
        linear-gradient(225deg, var(--cardback) 25%, transparent 25%),
        linear-gradient(315deg, var(--cardback) 25%, transparent 25%),
        linear-gradient(45deg, var(--cardback) 25%, transparent 25%);
}

.back::after {
    content: " ";
}

.spades::after {
    content: "\2660";
}

.clubs:after {
    content: "\2663";
}

.hearts:after {
    content: "\2665";
}

.diamonds:after {
    content: "\2666";
}

.red {
    color: var(--red);
}

.black {
    color: var(--black);
}
